.Card {
    width: 80%;
    margin: 5px auto;
    border: 1px solid #aaaaaa;
    box-shadow: 0px 2px 3px #aaaaaa;
    box-sizing: border-box;
    padding: 5px;
}

.PostCard {
    display: inline-block;
    width: 250px;
    margin: 5px;
    cursor: pointer;
}

.PostCard:hover {
    background-color: #eee;
}

.PostCreateForm > * {
    display: block;
    width: 100%;
    margin: auto;
}