.Burger {
    width: 95%;
    margin: auto;
    max-height: 350px;
    overflow: auto;
    font-size: 0.6em;
    margin-top: 45px;
}

@media (min-width: 500px) {
    .Burger {
        width: 75%;
        height: 300px;
    }
}

.Burger > div {
    margin-top: 3px;
    margin-bottom: 3px;
}